<a href="https://colab.research.google.com/github/shaik-imtiyaz/2216142-AI_ML_-BOOTCAMP/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Implement the methods of String with examples

In [40]:
s='google'
#indexing
print(s[-1])
print(s[2])
#slicing 
print(s[:])
#strip()
s1='  SHAIK IMTIYAZ  '
print(s1.strip())
print(s1.lstrip()) #left strip
print(s1.rstrip()) #right strip
s2='gradSTeLlar pYtHoN'
print(s2.upper()) 
print(s2.lower())
print(s2.capitalize()) 
print(s2.swapcase())
print(s2.title())

e
o
google
SHAIK IMTIYAZ
SHAIK IMTIYAZ
  SHAIK IMTIYAZ
GRADSTELLAR PYTHON
gradstellar python
Gradstellar python
GRADstElLAR PyThOn
Gradstellar Python

2. Implement the methods of List with examples.

In [39]:
l=[1,5,3,2]
print(l)
print(len(l))
l.append('python')
print(l)
l.extend([4,6,7])
print(l)
l.insert(4,5)
print(l)
l.pop(5)
print(l)
l.remove(7)
print(l)
l.reverse()
print(l)
l.sort()
print(l)
l.clear()
print(l)

[1, 5, 3, 2]
4
[1, 5, 3, 2, 'python']
[1, 5, 3, 2, 'python', 4, 6, 7]
[1, 5, 3, 2, 5, 'python', 4, 6, 7]
[1, 5, 3, 2, 5, 4, 6, 7]
[1, 5, 3, 2, 5, 4, 6]
[6, 4, 5, 2, 3, 5, 1]
[1, 2, 3, 4, 5, 5, 6]
[]

3. Implement the methods of Tuple with examples.

In [38]:
t=('shaik','imtiyaz','python',96,11)
print(t)
print(len(t))
t1=(5,6,7,96,50,50)
#indexing
print(t1[0])
print(t1[-1])
#slicing 
print(t1[1:3])
print(max(t1))
print(min(t1))
print(t1.index(96))
print(t1.count(50))

('shaik', 'imtiyaz', 'python', 96, 11)
5
5
50
(6, 7)
96
5
3
2

4. Implement the methods of Dictionary with examples

In [37]:
d={1:100,2:200,3:300,4:86,5:205,'name':'shaik','roll':96,'address':'hnk'}
print(d)
print(d.items())
print(d.popitem())
print(d.keys())
print(d.values())
print(d.get('name'))

{1: 100, 2: 200, 3: 300, 4: 86, 5: 205, 'name': 'shaik', 'roll': 96, 'address': 'hnk'}
dict_items([(1, 100), (2, 200), (3, 300), (4, 86), (5, 205), ('name', 'shaik'), ('roll', 96), ('address', 'hnk')])
('address', 'hnk')
dict_keys([1, 2, 3, 4, 5, 'name', 'roll'])
dict_values([100, 200, 300, 86, 205, 'shaik', 96])
shaik

5. Implement the methods of Set with examples.

In [36]:
s={1,2,3,4}
s.add(6)
print(s)
s.update([5,6,7])
print(s)
s.remove(4)
print(s)
s.discard(4)
print(s)
s1={3,5,0,2,9,1}
#union
print(s|s1)
print(s.union(s1))
print(s1.union(s))
#intersection
print(s&s1)
print(s.intersection(s1))
print(s1.intersection(s))
#difference
print(s-s1)
print(s.difference(s1))

{1, 2, 3, 4, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 6, 7}
{0, 1, 2, 3, 5, 6, 7, 9}
{0, 1, 2, 3, 5, 6, 7, 9}
{0, 1, 2, 3, 5, 6, 7, 9}
{1, 2, 3, 5}
{1, 2, 3, 5}
{1, 2, 3, 5}
{6, 7}
{6, 7}

6. Write a python program to convert Decimal to Binary, Octal and Hexadecimal with 
direct method.

In [34]:
num=int(input("Enter a number : "))
print("binary - >",bin(num))
print("octal ->",oct(num))
print("Hexadecimal- >",hex(num))

Enter a number : 4
binary - > 0b100
octal -> 0o4
Hexadecimal- > 0x4

7. Implement Arithmetic operators with examples.

In [33]:
a=int(input("Enter a number :"))
b=int(input("Enter a number :"))
print(a+b)
print(abs(a-b))
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

Enter a number :4
Enter a number :7
11
3
28
0.5714285714285714
4
16384
0

8. Implement Assignment operators with examples

In [32]:
x=10
y=20
print(x)
x+=3
print(x)
x-=3
print(x)
x*=3
print(x)
x/=3
print(x)
x%=3
print(x)
y//=3
print(y)
y**=3
print(y)

10
13
10
30
10.0
1.0
6
216

9. Implement Comparison operators with examples

In [31]:
x1=5
y1=10
print(x1==y1)
print(x1!=y1)
print(x1>y1)
print(x1<y1)
print(x1>=y1)
print(x1<=y1)

False
True
False
True
False
True

10. Implement Logical operators with examples.

In [30]:
a1=5
b1=6
print(a1==5 and b1==6)
print(a1==6 or b1==5)
print(not a1==b1)

True
False
True

11. Implement Bitwise operators with examples.

In [29]:
c=3
d=6
print(c==19 & d==25)
print(c&d)
print(c==25|d==20)
print(c&d)
print(c^d)
print(~c)
print(c>>2)
print(d<<2)

False
2
False
2
5
-4
0
24

12. Implement Membership operators with examples

In [28]:
str1="hi python"
print('h' in str1)
print('s' in str1)
print("n" in str1)
print('i' not in str1)
print('w' not in str1)
print("k" not in str1)

True
False
True
False
True
True

13. Implement Identity operators with examples

In [27]:
s=5
i='10'
print(s is i)
print(s is not i)

False
True

14.Demonstrate Negative indexing for List and apply slicing.

In [26]:
l1=[1,2,3,4,5,6,7,'shaik']
# negative indexing
print(l1[-1])
print(l1[-8])
print(l1[-6])
#slicing
print(l1[1:])
print(l1[:])
print(l1[::-1])

shaik
1
3
[2, 3, 4, 5, 6, 7, 'shaik']
[1, 2, 3, 4, 5, 6, 7, 'shaik']
['shaik', 7, 6, 5, 4, 3, 2, 1]

15.Predict the output for the given code snippet and justify the result.

In [41]:
print( 'A series of characters designated as one object known as a string'[::-1][4::3] )
#[::-1] it is for reversing and [4::3] it starts from 4 th index with step size as 3
print("------------")
print( 'welcome to Python traing program'[3:10][::-1])
#[3:10] it starts from 3rd index and stops at 10 th index and the it will reverse the string

taawkcbe  tgestrcoeeA
------------
ot emoc

16)Write a python code to get desired output; Input string : p_phrase = "was it a car or a cat I saw"; Output string : WAS I TAC A RO RAC A TI SAW

In [42]:
p_phrase="was it a car or a cat I saw"
str2=p_phrase.upper()
print(str2[::-1])

WAS I TAC A RO RAC A TI SAW

17). You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. Input X= 2 Output ZZOOOO Input X= 5 Output ZZZZZOOOOOOOOOO

In [43]:
x=int(input("Enter a number="))
y=2*x
print('x=',x)
print('y=',y)
print('Z'*x,'O'*y,sep='')

Enter a number=5
x= 5
y= 10
ZZZZZOOOOOOOOOO